<div class = "container">
  <h1>New Job</h1>
  <%= link_to("<< Back to List", clients_jobs_path, class: "btn btn-secondary btn-sm") %><div><br><b></b></div>
  <%= form_with model: [:clients, @job] do |f| %>

    <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-group row">
      <div class=" offset-sm-2 col-sm-5">
        <%= f.submit 'Create', class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  <% end %>
</div>