<div class="container mt-5">
  <!--card-->

  <div class="row mt-3">
    <div class="col">

      <!--short method because render is object aware, find path by own and also pass the local by own-->
      <%= render(@contracts) %>
      <%#= render(:partial => @contracts) %>

    </div>
  </div>
</div>
