<div class="container mt-5">


  <!--short method because render is object aware, find path by own and also pass the local variable like 'proposal' by own-->
  <%= render(@proposals) %>
  <%#= render(:partial => @proposals) %>

</div>

